@charset "UTF-8";
/* --- reset css --- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* --- reset css end --- */
/*menu*/
.menu {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  z-index: 99;
}

.menuLine {
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform .3s;
  width: 100%;
}

.menuLineCenter {
  top: 9px;
}

.menuLineBottom {
  bottom: 0;
}

.menuLineTop.active {
  top: 8px;
  transform: rotate(45deg);
}

.menuLineCenter.active {
  transform: scaleX(0);
}

.menuLineBottom.active {
  bottom: 10px;
  transform: rotate(135deg);
}

/*gnav*/
.gnav {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.gnavWrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  text-align: center;
}

.gnavMenuItem {
  margin: 40px 0;
}

.gnavMenuItem a {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  transition: .5s;
}

.gnavMenuItemLower a {
  font-size: 1.6em;
  font-weight: normal;
}

.gnavMenuItem a:hover {
  color: #666;
}

/*menu end*/
/*scroll*/
.scrollBtn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  padding-top: 80px;
  color: #fff;
  font-weight: bold;
}

.scrollBtn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scrollBtn span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scrollBtn span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.scrollBtn span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*scroll end*/
body {
  overflow-x: hidden;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

body > video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

body .layerHdrmov {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(../image/common/back.png) repeat;
  z-index: -99;
}

.top {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.top .navBer {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.top .navBer .navLogo img {
  height: 24px;
  padding: 18px 0;
  margin-left: 30px;
}

.top .topLogo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (min-width: 960px) {
  .top .topLogo {
    width: 700px;
  }
}

@media (max-width: 960px) {
  .top .topLogo {
    width: 80%;
  }
}

section {
  padding: 50px 25px;
}

section h1 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 32px;
  text-align: center;
  padding: 16px 0 14px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

section p {
  line-height: 2;
}

.indexSection {
  margin-bottom: 200px;
}

.sectionContentWrap {
  position: relative;
  max-width: 1440px;
  margin: 30px auto 0;
  text-align: center;
}

.about {
  background: #fff url(../image/common/arches.png) repeat;
}

.about h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.about p {
  border: 3px solid #666;
  padding: 70px 30px 50px;
  margin: 0 auto;
  max-width: 1000px;
}

.aboutBox {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1024px;
}

.aboutBox h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0 0 50px 0;
}

.toc {
  background: #fff url(../image/common/connected.png) repeat;
  padding-top: 40px;
}

.toc h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.toc .cardContainer {
  display: flex;
  margin: 0 auto;
  padding: 90px 20px 0;
  max-width: 1200px;
  justify-content: space-between;
  border-top: 3px solid #666;
}

@media (max-width: 960px) {
  .toc .cardContainer {
    padding: 90px 0 0 0;
  }
}

.cardWrap {
  width: calc( ( 100% - 100px ) / 3);
  text-align: left;
  margin-bottom: 50px;
  text-decoration: none;
  background: #fff;
}

.card {
  box-shadow: 0 2px 5px #ccc;
}

.card img {
  width: 100%;
}

.card h2, .card h3 {
  color: #000;
  margin-left: 15px;
}

.card h2 {
  font-size: 22px;
  margin-top: 20px;
}

.card h3 {
  font-size: 14px;
  color: #777777;
  margin-top: 8px;
  padding-bottom: 20px;
  font-weight: 300;
}

.tocBtn {
  display: inline-block;
  background: #fff;
  padding: 15px 50px;
  text-decoration: none;
  box-shadow: 0 3px 6px #ccc;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

footer {
  background: #7BA23F url(../image/common/asfalt-dark.png);
  text-align: center;
}

footer small {
  font-weight: 100;
}

.footerContainer {
  padding: 30px 0;
}

.footerContainer a {
  display: inline-block;
  padding-bottom: 30px;
}

.footerContainer a img {
  width: 120px;
}

.footerContainer small {
  display: block;
  font-weight: 800;
  font-style: normal;
}

/* --- lowerTop --- */
.lowerTop {
  position: relative;
  height: 500px;
}

.titleImgWrap {
  display: block;
  background: #000;
  min-width: 1400px;
  height: 500px;
  overflow: hidden;
}

.titleImgWrap .titleImg {
  opacity: .6;
  width: 100%;
  height: auto;
  z-index: -100;
  pointer-events: none;
}

.titleImgWrap .titleLogoImg {
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

.movieContents360 {
  background-image: url(../image/common/arches.png);
}

.movieContents360 h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.youtubeWrap {
  max-width: 1200px;
  padding: 70px 50px 0;
  margin: 0 auto;
  border-top: solid 3px #000;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movieTextWrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 200px;
}

.movieTextWrap > img {
  width: 200px;
  height: auto;
}

.movieTextWrap > p {
  margin-left: 50px;
  line-height: 200px;
  font-size: 18px;
}

.panoramicImage {
  background: #dddddd url(../image/common/asfalt-dark.png) repeat;
}

.panoramicImage h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

#vrview {
  margin: 0 auto;
  padding: 70px 50px 0;
  height: 600px;
  max-width: 1200px;
  border-top: solid 3px #000;
}

.lowerInformation {
  background: #fff url(../image/common/rocky-wall.png) repeat;
}

.lowerInformation h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.lowerInformation .informationTextWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 50px 0;
  border-top: solid 3px #666;
}

.informationText {
  max-width: 1000px;
  margin: 0 auto;
}

.informationText h2, .informationText p {
  text-align: left;
  padding: 0 50px;
}

.informationText h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.informationText p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 48px;
}

.informationText p:last-child {
  margin-bottom: 0;
}

.lowerMap {
  background: url(../image/common/connected.png) repeat;
}

.lowerMap > .sectionContentWrap {
  max-width: initial;
}

.lowerMap h1 {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.lowerMap .gmapWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 50px 35px;
  border-top: solid 3px #666;
}

.lowerMap .gmap {
  position: relative;
  padding-bottom: 400px;
  height: 0;
  overflow: hidden;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.lowerMap .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 400px !important;
}
